body {
  margin: 0; z-index: 0;
  background-color: rgba(192, 192, 192, 0.2);
}

.stylingResult, .stylingButton {
  padding: 0.5em;
  color: #000;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  background-image: linear-gradient(0deg, rgba(249, 246, 238, 1) 50%, rgba(240, 234, 214, 1) 100%);
  background-image: -o-linear-gradient(0deg, rgba(249, 246, 238, 1) 50%, rgba(240, 234, 214, 1) 100%);
  background-image: -moz-linear-gradient(0deg, rgba(249, 246, 238, 1) 50%, rgba(240, 234, 214, 1) 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(249, 246, 238, 1) 50%, rgba(240, 234, 214, 1) 100%);
  background-repeat: no-repeat;
  border-style: outset;
  border-width: 0.125em;
  border-radius: 0.5em;
  cursor: pointer;
}

.stylingButton:hover {
  box-shadow: 0 0 0.25em #000;
  border-style: inset;
}

.arithmetic {
  background-image: linear-gradient(0deg, rgba(52, 52, 52, 1) 20%, rgba(48, 25, 52, 1) 100%);
  background-image: -o-linear-gradient(0deg, rgba(52, 52, 52, 1) 20%, rgba(48, 25, 52, 1) 100%);
  background-image: -moz-linear-gradient(0deg, rgba(52, 52, 52, 1) 20%, rgba(48, 25, 52, 1) 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(52, 52, 52, 1) 20%, rgba(48, 25, 52, 1) 100%);
  background-repeat: no-repeat;
  color: #fff;
}

.arithmetic:hover {
  box-shadow: 0 0 0.25em purple;
  border-color: violet;
}

.clear {
  background-image: linear-gradient(0deg, rgba(136, 8, 8, 1) 50%, rgba(222, 49, 99, 1) 100%);
  background-image: -o-linear-gradient(0deg, rgba(136, 8, 8, 1) 50%, rgba(222, 49, 99, 1) 100%);
  background-image: -moz-linear-gradient(0deg, rgba(136, 8, 8, 1) 50%, rgba(222, 49, 99, 1) 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(136, 8, 8, 1) 50%, rgba(222, 49, 99, 1) 100%);
  background-repeat: no-repeat;
  color: #fff;
}

.clear:hover {
  box-shadow: 0 0 0.25em red;
  border-color: darkred;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5em;
  row-gap: 0.5em;
  -moz-column-gap: 0.5em;
  -webkit-column-gap: 0.5em;
}

.calculatorShell {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-evenly;
  gap: 2em; z-index: 1;
  max-width: 40vw;
  min-height: 90vh;
  padding: 3em 1em;
  border: none;
  border-radius: 1.5em;
  box-shadow: 0 0 0.5em #000;
  background-image: linear-gradient(0deg, rgba(192, 192, 192, 0.3) 50%, rgba(128, 128, 128, 0.7) 100%);
  background-image: -o-linear-gradient(0deg, rgba(192, 192, 192, 0.3) 50%, rgba(128, 128, 128, 0.7) 100%);
  background-image: -moz-linear-gradient(0deg, rgba(192, 192, 192, 0.3) 50%, rgba(128, 128, 128, 0.7) 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(192, 192, 192, 0.3) 50%, rgba(128, 128, 128, 0.7) 100%);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}